# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests / coverage
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
*.sublime-workspace
.vscode/*
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.local
.env.*.local

# temp
.temp
.tmp
